
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
}

/* ******************************************************************************* */

a{
    text-decoration: none;
}
li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: #fff;

}
h1,h2{
    color: rgb(252, 96, 13)
}
.admin{
    display: flex;
    /* width: 100vw; */
}
.slide-menu{
    background-color: #001c40;
    width: 18%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.slide-menu .brand-name{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide-menu li {
    font-size: 24px;
    padding: 10px 30px;
    color: #fff;
    display: flex;
    align-content: center;
}
.slide-menu li:hover{
    background-color: #ccc;
    color: #001c40;
}
.slide-menu li:hover>a{
    color: #001c40;
}
.slide-menu.dashboard{
    display: flex;
    align-items: center;
    justify-content: center;

}

.slide-menu-mobile{
    display: none;
    padding: 10px 0;
    margin-top: 20vh;
    /* background-color: rgba(0, 28, 64,0.6); */
    position: fixed;
    z-index: 2;
    transform: translateX(-100%);
    transition: all 0.3s linear;
}
.icon-arrow-right{
    display: none;
    cursor: pointer;
    z-index: 2;
    position: fixed;
    color: #fc610dbd ;
    transition: all 0.3s linear;
}

.dashboard{
    background-color: #fff;
}
.dashboard>a{
    color: #001c40;
}
svg{
    width: 30px;
    height: 30px;
}

/* ******************************************** */

.team-member{
    display: flex;
    justify-content:center;
    align-items: center;
    /* height: 100vh; */
    flex-wrap: wrap;
    margin-left: 330px;
    
}
.duc-chung:hover,
.tu-anh:hover,
.tuan-dat:hover{
    box-shadow: 10px 10px 10px 10px #ccc;
}
.member-item{
    /* position: absolute; */
    text-align: center;
    width: 330px;
    height: 415px;
    /* border: 1px solid #000; */
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px #d2dce9, -6px -6px 15px #fff;
    margin-left: 40px;

}
.member-avt img{
    margin-top: 30px;
    width: 45%;
    /* background-repeat: no-repeat; */
    border-radius: 50%;
    /* border: 5px solid #fff; */
    cursor: pointer;
    
}
.member-item .member-name h4{
    margin: 15px 0 5px 0 ;
    color: #36187d;
    font-size: 25px;
    cursor: pointer;

}
.member-item .member-name h5{
    color: #6c758f;
    margin-bottom: 10px;
    font-size: 18px;
    letter-spacing: 2px;
}
.icon-contact a{
    margin: 0 10px 0 10px;

}
.icon-contact svg{

    width: 30px;
    height: 30px;
    /* margin: 0 10px 0 10px; */
    /* background-color: #6c758f; */
    
}
.icon-contact svg:hover{
    /* width: 40px;
    height: 40px; */
    box-shadow: 2px 2px 2px 2px #6c758f;
    border-radius: 6px;
    /* background-color: #6c758f; */

}
.member-name p{
    text-align: center;
    padding: 0 16px;
    margin-bottom: 12px;
}